::ng-deep .print-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-wrapper {
  width: 100vw; background: gray; padding: 5rem;
  display: flex;gap: 1rem;
}
